.container {
    font-family: "Roboto";
}

#pageContainer {
    background: var(--bg_accent_light);
}

.container h3 {
    color: var(--text_dark);
    padding-bottom: 0;
    text-decoration: underline;
}

.container p {
    opacity: 0.7;
    max-width: 40ch;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

.feedback {
    margin: 1em;
}

.container textarea {
    background-color: #f5f5f5;
    font-size: 18px;
    font-family: "Roboto";
}

input.submit {
    margin: 0.5em;
    opacity: 0.85;
    font-size: 22px;
    font-family: "Roboto Slab";
    font-size: 0.8em;
    height: fit-content;
    padding: 0.2em 1.2em;
    text-decoration: none;
    background-color: rgb(39, 39, 172);
    background-color: var(--text_dark);
    color: var(--text_light);
    font-weight: 400;
    border-radius: 0.8em;
    border-style: solid;
    border-color: var(--text_dark_low_opacity);
    border-width: 2px;
    transition: 0.3s;
}

input.submit:hover {
    background-color: rgb(88, 88, 249);
}

@media screen and (max-width:600px) {
    .container textarea {
        font-size: 16px;
    }
}

