* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 30px;
    --bg_main: #ffffff;
    --text_main: #333333;
    --bg_accent: #5CDB95;
    --text_light: #EDF5E1;
    --text_dark: #05386B;
    --bg_accent_light: #8EE4AF;
    --text_dark_low_opacity: rgba(5, 56, 107, 0.5);
}

#PageContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    font-size: 25px;
}

body {
    background: var(--bg_main);
    margin: 0;
}

ul {
    list-style-type: none;
}

.navbar {
    background-color: var(--bg_accent);
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: "Roboto Slab";
    color: var(--text_light);
    padding: 0.4rem;
    border-bottom: solid;
    border-color: var(--text_dark_low_opacity); 
    border-width: 2px;
}

.Logos {
    font-weight: 300;
    letter-spacing: 00.05rem;
    list-style-type: none;
    display: flex;
    justify-content: left;
}

.companyName {
    margin-left: 2rem;
    font-size: 1.25rem;
    display: flex;
    justify-self: left;
    cursor: pointer;
}

.logo {
    cursor: pointer;
    margin-left: 00.2rem;
    width: 1.2rem;
    background: url('logo_reciept.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.NavLinks {
    letter-spacing: 0.05rem;
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    color: var(--text_light);
    font-size: 20px;
    text-decoration: none;
}

.navItem, .attentionItem {
    font-size: inherit;
    margin-left:6vw;
}

.navItem a {
    font-size: 20px;
    padding: 0.3em;
    text-decoration: inherit;
    font-weight: 100;
    color: var(--text_light);
    transition: 0.3s;
}

.navItem a:hover { 
    color:var(--text_dark);
    
}

.attentionItem a {
    text-decoration: inherit;
    font-size: inherit;
    padding: 0.4em 1.5vw;
    background-color: var(--text_dark);
    color:var(--text_light);
    border-radius: 0.6em;
    border-style: solid;
    border-color: transparent;
    transition: 0.3s;
    margin-right: 3em;
}

.attentionItem a:hover {
    color: var(--text_dark);
    border-color: var(--text_dark);
    background-color: var(--bg_accent_light);
}

button.hamburgerMenu {
    display: none;
}

span {
    display: flex;
}

a.hamburger {
    display: none;
}

@media screen and (max-width:910px) {
    .companyName {
        margin-left: 0.25rem;
    }
    .navItem a, .attentionItem {
        font-size: 15px;
        align-items: center;
        margin-left: 2.8vw;
    }
    .attentionItem a {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width:690px){
    .navItem a, .attentionItem {
        font-size: 12px;
        align-items: center;
        margin-left: 2.3vw;
    }
}

@media screen and (max-width:620px) {
    .navbar #not_mobile {
        display: none;
    }
    .logos{
        font-size: 25;
    }
    .companyName {
        font-size: inherit;
    }
    .logo {
        height: 1.2em;
    }
    a.hamburger {
        display: block;
        color: var(--text_light);
        font-size: 1rem;
    }
}

.footer {
    margin-top: auto;
    background-color: var(--bg_accent);
    color: var(--text_dark);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.1rem;
    width: 100%;
    font-size: 16px;
}

.footerItems{
    font-family:"Roboto Slab"; 
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    flex: 1;
    text-align: center;
    border-style: none;
    margin: 0.25rem;
    align-items: center;
}

.footerItem {
    border-style: none;
    border-radius: 0.6em;
}

.footerItem a{
    color: inherit;
    display: flex;
    align-items: center;
    font-family: inherit;
    padding: 0.15rem 0.5rem;
    margin: 0px 1.8em;
    text-decoration: none;
    font-weight: 100;
    font-size: 1em;
    border-radius: 0.6em;
    transition: 0.3s;
}
.footerItem a:hover{
    background-color: var(--bg_accent_light);
}

.rightFoot a {
   margin-right: 7em; 
   border-style: solid; 
   border-width: 2px;
   transition: 0.3s;
}

.footerNotes{
    margin-left: 1em;
    align-items: center;
    margin-right: auto;
    font-family: inherit;
    font-weight: 100;
    font-size: 0.8em;
    color: inherit;
    transition: 0.3s;
}

@media screen and (max-width:870px) {
    .footer {
    font-size: 12px;
    }
}
@media screen and (max-width:650px) {
    .footer {
    font-size: 14px;
    }
    .footerNotes {
        margin-left: 0.5em;
        font-size: 8px;
    }
    .footerItem a {
        margin: 0 0.5em;
    }
}
@media screen and (max-width:480px) {
    .footer {
    font-size: 10px;
    }
    .footerNotes {
        margin-left: 0.5em;
        font-size: 6px;
    }
    .footerItem a {
        margin: 0 0.5em;
    }
}



.dropdown {
    padding-top: 2.5rem;
    display: flex;
    background: var(--bg_accent_light);
    list-style-type: none;
    font-family: "Roboto Slab";
    font-size: 0.6rem;
    justify-content: center;   
}

.dropdown #mobile{
    display: none;
}



@media screen and (max-width: 620px) {
    .dropdown{
        padding-top: 2.1rem;
    }
    .dropdown #mobile {
        display: none;
        vertical-align: center;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        padding: 0.5rem;
        width: 100%;
        border-bottom: solid;
        border-color: var(--text_dark_low_opacity);   
        border-width: 2px;
        transition: 0.3s;    
    }
    .dropdownItem #mobile{
        text-decoration: none;
        border-style: solid;
        border-width: 0.25rem;
    }
    .dropdownItem {
        margin-bottom: 0.7rem;
    }
    .dropdownItem a {
        font-size: inherit;
        text-decoration: none;
        padding: 0.25rem;
        color: var(--text_dark);
        
        transition: 0.3s; 
    }
    .dropdownAttentionItem {
        margin: 0;
    }
    .dropdownAttentionItem a {
        font-size: inherit;
        text-decoration: none;
        background: var(--text_dark);
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        color: var(--text_light);
        transition: 0.3s;
        border-color: var(--text_dark);
    }
    .dropdownAttentionItem a:hover #mobile{
        background: var(--bg_accent);
        border-width: inherit;
        border-color:rgba(5, 56, 107, 0.8)
    }
}
